<div class="container my-5">
    <h1 class="mb-3">Delete Employee</h1>
    <form #form="ngForm" (ngSubmit)="DeleteEmployee()" >
        <div class="mb-3">
            <label for="id" class="form-label">Name</label>
            <input type="text" class="form-control" id="id" 
            name="id" [(ngModel)]="employeeDetails.id" readonly>
          </div>
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name"
          name="name" [(ngModel)]="employeeDetails.name" readonly>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" aria-describedby="email"
            name="email" [(ngModel)]="employeeDetails.email" readonly>
          </div>
          <div class="mb-3">
            <label for="phone" class="form-label">Phone No.</label>
            <input type="number" class="form-control" id="phone" aria-describedby="phone"
            name="phone" [(ngModel)]="employeeDetails.phone" readonly>
          </div>
          <div class="mb-3">
            <label for="salary" class="form-label">Salary</label>
            <input type="salary" class="form-control" id="salary" aria-describedby="salary"
            name="salary" [(ngModel)]="employeeDetails.salary" readonly>
          </div>
          <div class="mb-3">
            <label for="department" class="form-label">department</label>
            <input type="text" class="form-control" id="department" aria-describedby="department"
            name="department" [(ngModel)]="employeeDetails.department" readonly>
          </div>
        <button type="submit" class="btn btn-primary">Delete</button>
      </form>
</div>

